header,nav,section,article,footer,aside
{
 border-width: 1px;
 border-style:dashed;
 border-color:black;
}
#art1, #art2
{
    width: 300px;
    height: 150px;
    float:left;
    margin-right: 20px;
    margin-bottom: 15px;
}
article
{
    width: 410px;
    height: 600px;
    float:left;
}
aside
{
    width: 200px;
    height: 600px;
    float:left;
    margin-left: 20px;
    margin-bottom: 15px;
}
footer
{
    width: 100px;
    height: 200px;
    float: left;
   /** margin-top: 15px;
    margin-bottom: 20px;**/
    margin-left: 15px;
    
    
}